.hyperlink-details {
    display: flex;
    flex-direction: column;
    width: 300px;
}
    .hyperlink-details a {
        position: relative;
        border: none;
        outline: 0;
        padding: 16px;
        color: black;
        background-color: white;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        text-decoration: none;
        transition: 0.4s;
        border: solid 2px black;
        margin: 12px 0 12px 0;
    }
        .hyperlink-details a:hover {
            color: black;
            background-color: floralwhite;
            border: solid 2px black;
        }

.filter-box {
    margin-top: 12px;
    width: 272px;
    min-height: 1px;
    position: relative;
    padding: 0 15px 0 15px;
}
.hyperlink-continer {
    display: flex;
    flex-direction: column;
}
    .hyperlink-continer a {
        position:relative;
        border: none;
        outline: 0;
        padding: 16px;
        color: black;
        background-color: lightgrey;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 42px;
        text-decoration: none;
        transition: 0.4s;
        border: solid 2px black;
        margin: 12px 0 12px 0;
    }
        .hyperlink-continer a:hover {
            color: black;
            background-color: white;
            border: solid 2px black;
        }
        .linkbtn {
    border: 1px solid black;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    transition: 0.4s;
}

    .linkbtn:hover {
        color: white;
        background-color: black;
    }

.hot-offers-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    display:flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 500px;
    margin: 12px 20px 12px 20px;
    font-family: arial;
}

.card-vertical-body {
    display: flex;
    padding: 0 12px 12px 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    flex-shrink: 0;
}

.card-body-price {
    display: block;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #424242;
}
.card-bottom {
    margin-top: auto;
    display: flex;
    -webkit-box-orient: vertical;
    padding: 0 12px 12px 12px;
    flex-direction: column;
}
.card img {
    width: 300px;
    height: 250px;
}
.card-linkbtn-details {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    transition: 0.4s;
}

    .card-linkbtn-details:hover {
        color: black;
        background-color: white;
    }

.card-horizontal {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 250px;
    margin: 12px;
    font-family: arial;
}
.card-body-left {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 12px;
    width: 100%;
}
.card-body-right {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    padding-top: 86px;
    flex-shrink: 0;
    width: 186px;
}
    .card-body-right a {
        border: none;
        outline: 0;
        padding: 12px;
        margin-top: auto;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        text-decoration: none;
        transition: 0.4s;
        border: solid 2px black;
    }
        .card-body-right a:hover {
            color: black;
            background-color: white;
            border: solid 2px black;
        }
.card-body-right-price {
    display: block;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #424242;
    text-align: center;
}
.card-title {
    font-weight: bold;
    margin-bottom: 0.75rem;
}
.card-text {
    margin-bottom: 0.75rem;
}
.filter-container {
    border: 1px solid gray;
    display: flex;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}
.filter-button-apply {
    width: -webkit-fill-available;
    border-radius: 3px;
    background-color: white;
    color: black;
    padding: 10px 0 10px 0;
    transition: 0.7s;
    margin: 12px 6px 12px 6px;
}

    .filter-button-apply:hover {
        background-color: black;
        color: white;
    }

.search-filter {
    box-sizing: border-box;
    border-radius: 3px;
    background-color: gainsboro;
}

#searchinput {
    width: -webkit-fill-available;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ddd;
    margin: 12px;
}

a {
    text-decoration: none;
    color: black;
}

.card-img-link {
    margin-top: auto;
    margin-bottom: auto;
}

    .card-img-link img {
        box-shadow: 0 0 2px black;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 7px;
        width: 300px;
        height: 250px;
        transition: all .2s ease-in-out;
    }

        .card-img-link img:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
.details-tour {
    box-shadow: 0px 0px 13px 0px #b7b7b7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 3.75rem;
    color: #2b3641;
}

.detail-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 20px;
}

.tour-gallery {
    width: 100%;
    max-width: 800px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: #dee6ed;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

    .tour-gallery img {
        position: relative;
        min-height: 100%;
        overflow: hidden;
    }

.detail-place {
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
}

.info-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.details-tour__info {
    position: relative;
    padding: 1.25rem 2.5rem 0.9375rem 2.5rem;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border: solid 1px #dee6ed;
    background-color: #fff;
}

.info-box__heading {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: bold;
    color: #2e3b49;
}

.info-box__flex {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.info-box-price-section {
    margin: 12px 0 0 0;
    padding-top: 12px;
    border-top: 1px solid #dee6ed;
}

.info-box__price {
    font-weight: bold;
    line-height: 1.33;
    color: #2b3641;
    font-size: 20px;
}

.info-box__item {
    margin-top: 4px;
}

.info-box-transport {
    margin-top: 1.125rem;
}
.tour-description {
    padding: 12px 20px 12px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0 1.25rem 0;
    word-break: break-word;
    overflow-wrap: break-word;
    -webkit-box-shadow: 0 2px 10px 0 rgb(222 233 244 / 60%);
    box-shadow: 0 2px 10px 0 rgb(222 233 244 / 60%);
    border: solid 1px #dee6ed;
    background-color: #fff;
    flex-direction: column;
}
.details-tour-image img {
    width: 720px;
    height: 540px;
}

.filling-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.user-data{
    display: flex;
}
.user-form-group{
    padding: 8px;
    margin: 8px;
}

.payment-title {
    width: 100%;
    text-align: center;
}
.form-container .field-container:first-of-type {
    grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}

.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container {
    position: relative;
}

.form-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas: "name name""number number""expiration security";
    max-width: 440px;
    padding: 20px;
    color: #707070;
}

.field-container label {
    padding-bottom: 5px;
    font-size: 13px;
}

.field-container input {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}
.field-container-expire{
    display: flex;
    flex-direction: row;
}
.field-container-expire select {
    margin: 3px 8px 0 8px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

.ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
}
.payment {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: 'Times New Roman';
    margin-left: auto;
    margin-right: auto;
}
.credit-card{
    width: 400px;
}
.img-container {
    padding: 20px;
}
.series_number {
    display: flex;
}

#series {
    display: block;
    margin: 4px;
    width: 20%;
}

#number {
    display: block;
    margin: 4px;
    width: 70%;
}

#info-box {
    margin-bottom: 3.75rem;
    box-shadow: 0px 0px 13px 0px #b7b7b7;
    padding: 12px;
}
#paymentBox {
    display: none;
}

.optional-buttons{
    display:flex;
    justify-content:center;
    flex-direction:row;
}
    .optional-buttons button {
        width: 175px;
        max-width: 250px;
        padding: 6px;
        margin: 8px 12px 8px 12px;
    }
.green-btn {
    background-color: #47b91f;
    color: white;
}
    .green-btn:hover {
        background-color: #3b9d19;
        color:white;
    }
#sendForm{
    display:none;
}
.send-form {
    width: 440px;
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: 'Times New Roman';
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    font-size: 16px;
}
.send-btn{
    background-color: sandybrown;
    color:white;
    border-radius: 3px;
}
    .sent-btn:hover {
        width:100%;
        background-color: white;
        color: black;
    }
.select-room{
    border-block: 1px dashed gray;
    margin: 12px;
}
.select-room select{
    width: 100%;
    padding: 8px;
}